<main>
  <form
    action="/sessions/restoreForm/{{uid}}/{{token}}"
    method="post"
  >
    <p>Por favor ingrese se nueva contrasena. No puede ser igual a la anterior</p>
    <input
      type="password"
      placeholder="password"
      name="password"
    />
    <button type="submit">Aceptar</button>
  </form>
</main>