<main>
  <h4>Recuperar contraseña. Se enviara un mail</h4>
  <form action="/sessions/restore" method="POST">
    <input type="text" placeholder="email" name="email" />
    <button type="submit">Enviar</button>
  </form>
</main>