<main>
  <div>{{user.first_name}}</div>
  <div class="container">
    <h3>Chat</h3>
    <div id="messages__container"></div>
    <input type="text" id="user__input" autofocus/>
  </div>
</main>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../../public/js/mainChat.js"></script>