<div>
  <form id="create-product-form">
    <input type="text" name="code" placeholder="Código del producto" />
    <input type="text" name="title" placeholder="Título" />
    <input type="text" name="description" placeholder="Descripción" />
    <input type="number" name="price" placeholder="Precio" />
    <input type="number" name="stock" placeholder="Stock" />
    <input type="text" name="category" placeholder="Categoria" />
    <input type="submit" value="Enviar!" />
  </form>

</div>

<div>
  <h1 class="title">Lista de Productos - Real Time</h1>

  <table class="prod-list">
    <tr>
      <th>Codigo</th>
      <th>Producto</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Categoria</th>
      <th>Imagen</th>
    </tr>
    <tbody id="table-products">

    </tbody>
  </table>
</div>

<script src="js/main.js"></script>